<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="css/bootstrap.css">

</head>
<body>
   <!-- navbar-->
    <div class="container" >
        <div class="row">
             <div class="col-3" style="background-color:lightblue; height:100%; position:fixed; top: 0%; left:0%; overflow-x: hidden;">
                <!--heading/logo placeholder-->
                 <div style="margin-top:5%">
                     <a href="Covid.html">
                         <img src="covidhub logo.png" width="100%" height="110%" style="margin-top:5%">
                     </a>
                 </div>

<!--                 <a class="btn btn-primary-outline" href="homepage.html" style="font-size:200%; text-align:center; color:white; margin-top: 13%;" >Covid Spot/logo here</a>-->

                <!--buttons on the left nav bar   ------ add href-->
                <div class="d-grid gap-2" style="margin-top:17%;" >
                    <a class="btn btn-primary-outline" href="daily.html" style="text-align:left; " onMouseOver="this.style.backgroundColor='lightgrey'" onMouseOut="this.style.backgroundColor='lightblue'"!important>Daily Screening</a>
                    <a class="btn btn-primary-outline" href="trends.html" style="text-align:left; " onMouseOver="this.style.backgroundColor='lightgrey'" onMouseOut="this.style.backgroundColor='lightblue'"!important>Trends</a>
                    <a class="btn btn-primary-outline" href="tips.html" style="text-align:left; " onMouseOver="this.style.backgroundColor='lightgrey'" onMouseOut="this.style.backgroundColor='lightblue'"!important>Tips and Tricks for Prevention</a>
                </div>

            </div>

            <!--news feed (connects to google news)-->
            <div class="col-9" style="left:25%; position:relative">
                <div style="margin-top:7%">
                    <h1 style="font-size:300%">Latest News</h1>
                </div>
                <div id="testing" >
                    <a  href="https://news.google.com/topstories?hl=en-CA&gl=CA&ceid=CA:en">
                        <img src="news1.png" width="100%;" border="2px" style="margin-top:4%">
                    </a>
                </div>

                <div id="testing2">
                    <a  href="https://news.google.com/topstories?hl=en-CA&gl=CA&ceid=CA:en">
                        <img src="news2.png" width="100%;" border="2px" style="margin-top:2%">
                    </a>
                </div>

                <div id="testing3">
                    <a  href="https://news.google.com/topstories?hl=en-CA&gl=CA&ceid=CA:en">
                        <img src="news3.png" width="100%;" border="2px" style="margin-top:2%">
                    </a>
                </div>

                <div id="testing4">
                    <a  href="https://news.google.com/topstories?hl=en-CA&gl=CA&ceid=CA:en">
                        <img src="news4.png" width="100%;" border="2px" style="margin-top:2%">
                    </a>

                </div>

                <div id="testing5">
                    <a  href="https://news.google.com/topstories?hl=en-CA&gl=CA&ceid=CA:en">
                        <img src="news5.png" width="100%;" border="2px" style="margin-top:2%">
                    </a>
                </div>

            </div>


            </div>

        </div>
    </div>


    <script src="js/bootstrap.js"></script>



</body>
</html>