<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tips for Prevention</title>
    <link rel="stylesheet" href="css/bootstrap.css">

</head>
<body>
<!-- navbar-->
    <div class="container" >
        <div class="row">
             <div class="col-3" style="background-color:lightblue; height:100%; position:fixed; top: 0%; left:0%; overflow-x: hidden;">
                <!--heading/logo placeholder-->
                 <div style="margin-top:5%">
                     <a href="Covid.html">
                         <img src="covidhub logo.png" width="100%" height="110%" style="margin-top:5%">

                     </a>
                 </div>

<!--                 <a class="btn btn-primary-outline" href="homepage.html" style="font-size:200%; text-align:center; color:white; margin-top: 13%;" >Covid Spot/logo here</a>-->

                <!--buttons on the left nav bar   ------ add href-->
                <div class="d-grid gap-2" style="margin-top:17%;" >
                    <a class="btn btn-primary-outline" href="daily.html" style="text-align:left; font-size:150%" onMouseOver="this.style.backgroundColor='lightgrey'" onMouseOut="this.style.backgroundColor='lightblue'"!important>Daily Screening</a>
                    <a class="btn btn-primary-outline" href="trends.html" style="text-align:left; font-size:150%" onMouseOver="this.style.backgroundColor='lightgrey'" onMouseOut="this.style.backgroundColor='lightblue'"!important>Trends</a>
                    <a class="btn btn-primary-outline" href="tips.html" style="text-align:left; font-size:150%" onMouseOver="this.style.backgroundColor='lightgrey'" onMouseOut="this.style.backgroundColor='lightblue'"!important>Tips and Tricks for Prevention</a>
                </div>

            </div>

            <div class="col-9" style="left:25%; position:relative">
                <div style="margin-top:7%; ">
                    <h1 style="font-size:300%">Tips to prevent the spread of COVID</h1>
                </div>
                <!--tip1 (image and button)-->
                <div style="margin-right:10%">
                    <img src="mask.png" width="120%;">
                    <a href="#hands"type="button" class="btn btn-outline-primary" style="margin-left:65%">Ok, got it!</a>

                </div>


                <!--tip2-->
                <div id="hands" style="margin-top:8%; margin-right:10%">
                    <img src="hands.png" width="120%">
                    <a href="#feet"type="button" class="btn btn-outline-primary" style="margin-left:65%">Ok, got it!</a>

                </div>

                <!--tip3-->
                <div id="feet" style="margin-right:10%">
                    <img src="feet.png" width="120%">
                    <a href="#hands"type="button" class="btn btn-outline-primary" style="margin-left:65%">Ok, got it!</a>


                </div>




            </div>

        </div>
    </div>
    <script src="js/bootstrap.js"></script>

</body>
</html>